$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);
$dark-blue: hsl(234, 12%, 34%);
$gray-blue: hsl(229, 6%, 66%);
$light-gray: hsl(0, 0%, 98%);
$Poppins: 'Poppins', sans-serif;
$font-thin: 200;
$font-normal: 400;
$font-bold: 600;

%flex-col-c{ 
    display: flex;
    flex-direction: column;
    align-items: center;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: $Poppins;
    font-weight: $font-normal;
    font-size: 15px;
    background-color: $light-gray;
    @extend %flex-col-c;
}

.header{
    padding-top: 76px;
    padding-bottom: 68px;
    @extend %flex-col-c;
    &__title h1{
        font-size: 36px;
        font-weight: $font-thin;
    }
    &__subtitle h2{
        margin-top: -5px;
        padding-bottom: 15px;
        font-size: 36px;
        color: $dark-blue;
    }
    &__describe{
        color: $gray-blue;
        text-align: center;
        padding: 0 400px;
    }
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    gap: 30px 30px;
    .card{
        background-color: #fff;
        padding: 25px;
        width: 345px;
        height: 250px;
        border-radius: 5px;
        border-top: #000 solid 4px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        &__title{
            color: $dark-blue;
            font-size: 17px;
            padding-bottom: 10px;
        }
        &__subtitle{
            color: $gray-blue;
            font-size: 12px;
            letter-spacing: 0.6px;
            line-height: 1.8;
            padding-bottom: 40px;
        }
        &__icon{
            align-self: flex-end;
            margin-right: 5px;
        }
    }
    &__supervisor{
        grid-row: 1 / 3;
        grid-column: 1 / 2;
        align-self: center;
    }
    &__team-builder{
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }
    &__karma{
        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }
    &__calculator{
        grid-row: 1 / 3;
        grid-column: 3 / 4;
        align-self: center; 
    }
}


